._redes-sociais {
    background: transparent linear-gradient(14deg, #025576 0%, #00BE00 100%);
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 10px #00000029;
    opacity: 1;
    position:fixed;
    top: 50%;
    right: 0px;
    width: 42px;
    transform:translateY(-50%) ;
    z-index: 50;
    li{
        a{
         color: $white;
        }
    }
}